 body {
	font-size: 16px;
	line-height: 22px;
	font-family: Roboto, Arial, sans-serif;
} 

h1 {
	font-size: 60px;
	line-height: 60.35px;
	color: #f7f4f1;
	font-weight: bold;
}

h2 {
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	font-weight: bold;
}
