 body {
 	min-width: 1200px;
	font-size: 16px;
	line-height: 22px;
	font-family: Roboto, Arial, sans-serif;
	background-color: #849d8f;
	color: #ffffff;
} 

body > input[type="radio"] {
  display: none;
}

h1 {
	font-size: 60px;
	line-height: 60.35px;
	color: #f7f4f1;
	font-weight: bold;
}

h2 {
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	font-weight: bold;
}

.clearfix::after {
    display: table;
	content: "";
	clear: both;
} 

.site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slider-ice1.png");
    background-repeat: no-repeat;
    background-position: top center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper:before,
.site-wrapper:after {
    content: "";
    visibility: hidden;
}

.site-wrapper:before {
    background-image: url("slide-2.png");
}

.site-wrapper:after {
    background-image: url("slide-3.png");
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 27px;
	padding-right: 27px;
	
}

.btn {
	display: inline-block;
    padding: 14px 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    vertical-align: top;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
   
    background: #f26843;
    background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:  linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64); 
}

.btn-form {  
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 14px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
    text-shadow: none;
    outline: none;
    border-radius: 50px;
    border: none;
    background: #f26843;
    background:  linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    background: #f26843;
    background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:  linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64); 
}

.btn:hover {
    background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
    background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.stripe {
	height: 1px;
    background: #ffffff;
    opacity: 0.2;
}
/*index*/
.index-logo {
	float: left;
    margin-top: 10px;
	margin-left: 21px;
}

.index-logo-catalog {
	float: left;
    margin-top: 6px;
    margin-left: -31px;
}

.main-navigation {
	float: left;
	width: 686px;
    margin-left: -10px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 0;
}

.main-menu a {
    text-decoration: none;
    color: inherit;
}

.link-menu {
	padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.link-menu.active {
	border: none;
}

.main-menu > li{
	position: relative;
	display: inline-block;
	margin-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 3px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 18px;
}

.below-menu {
    position: absolute;
    display: none;
    width: 140px;
    margin: 0;
    padding: 0;
    right: -50px;
    top: 30px;
    border-radius: 5px;
    background: #f8f7f4;
    color: #323232;

}

.below-menu li {
	padding-left: 10px;
	padding-right: 15px;
	padding-bottom: 15px;
	list-style: none;
    white-space: nowrap;
}

.below-menu a {
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
    font-size: 14px;
    line-height: 16px;	
}

.line {
	height: 1px;
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 7px;
	margin-right: 7px;
	background: #d1d0ce;
}

.main-menu > li:hover .below-menu {
	display: block;
}

.main-menu > li:hover {
	background: #f7f6f3;
	color: #000000;
	border-radius: 20px;
	text-decoration: none;
}

.main-menu > li:active {
	box-shadow: inset 0 2px 1px 0 #8a8a8a;
}

.below-menu li:hover {
	background: #fbded7;
}

.below-menu li:active {
	background: #f6b5a5;
}

.main-menu-active {
	background: #d07058;
	border-radius: 20px;
}

.below-menu-active {
	background: #d07058;
	color: #ffffff;
}

.below-menu-active a {
    outline: none;
	cursor: none;
}

.user-to {
	width: 267px;
	float: right;
	margin-top: 23px;
	margin-right: 30px;
}

.search {
	position: relative;
	float: left;
	width: 46px;
}

.search-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 7px;
    padding: 16px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.search-item::before {
	position: absolute;
	content: "";
	top: 9px;
	right: 6px;
    background-image: url(../img/icon/sprait.png);
    width: 17px;
    height: 17px;
    background-position: -10px -589px; 
}

.search-item:hover {
    background: #ffffff;
	opacity: 1;
} 

.search-item:hover::before {
	width: 17px;
    height: 17px;
    background-position: -10px -626px;
}

.form-search {
	position: absolute;
	right: 10px;
	top: 40px;
	display: none;
}

.inner-search {
	width: 340px;
	padding-left: 15px;
	font-size: 14px;
	line-height: 24px;
    border: none;
	outline: none;
	border: 15px solid #f8f7f4;
	border-radius: 3px;
	box-shadow: 0 8px 11px #3f4a43;
}

.search:hover .form-search {
	display: block;
}

.user-block {
	position: relative;
	width: 90px;
	float: left;
	margin-left: 5px;
}

.login {
	position: relative;
    display: inline-block;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 44px;
    padding-right: 16px;
    vertical-align: top;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    color: #ffffff;
}

.login:hover {
    background-color: #ffffff;
    color: #323232;
} 

.login::before {
	position: absolute;
    content: "";
    left: 16px;
    top: 7px;
    background: url(../img/icon/sprait.png) no-repeat;
    width: 21px;
    height: 19px;
    background-position: -10px -511px;
}

.login:hover::before {
    width: 21px;
    height: 19px;
    background-position: -10px -550px;
} 

.form-login {
	position: absolute;
    top: 40px;
    right: 40px;
    padding: 20px;
   
    color: #000000;
    background: #f8f3f0 url("../img/background-basket.jpg") no-repeat;
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.form-login input[type="email"],
.form-login input[type="password"] {
    width: 241px;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 14px;
    line-height: 24px;
    font-family: inherit;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    color: #b8b8b8;
    outline: none;
}

.link-login {
    float: right;
    width: 120px;
}

.restore {
	font-size: 13px;
	line-height: 24px;
	color: #323232;
}

.form-login .btn-form {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*
.user-block:hover .form-login {
	display: block;
}
*/
.basket {
	float: right;
	width: 117px;
}

.link-basket {
    display: inline-block;
    vertical-align: top;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 47px;
    padding-right: 34px;
    font-size: 14px;
    line-height: 16px;
    background: #a0b3a9;
    border-radius: 20px;
    position: relative;
    text-decoration: none;
    color: #ffffff;
}

.link-basket::before {
	position: absolute;
    content: "";
    top: 7px;
    left: 19px;
    right: 85px;
    background: url(../img/icon/sprait.png);
    width: 21px;
    height: 20px;
    background-position: -10px -10px;
}

.link-basket:hover {
    background-color: #ffffff;
    color: #323232;
}

.link-basket:hover::before {
	width: 21px;
    height: 20px;
    background-position: -10px -50px;
}

.link-basket.filled {
	display: inline-block;
    vertical-align: top;
    padding-top: 9px;
    padding-bottom: 9px;
	padding-left: 45px;
	padding-right: 15px;
	font-size: 14px;
	line-height: 16px;
	background: #a0b3a9;
	border-radius: 20px;
	position: relative;
	text-decoration: none;
	color: #ffffff;
}

.link-basket.filled::before {
	position: absolute;
	content: "";
	top: 7px;
	left: 15px;
	right: 85px;
	background: url(../img/icon/sprait.png);
	width: 21px;
    height: 20px;
    background-position: -10px -90px;
}

.link-basket.filled:hover {
    background-color: #ffffff;
    color: #323232;
}

.mode {
	width: 267px;
	float: right;
	margin-top: -19px;
	clear: both;
	font-size: 14px;
	line-height: 16px;
	text-align: right;	
}

.number-phone {
	font-size: 22px;
	line-height: 30px;
}

.mode p {
	padding-right: 27px;
}

.mode span {
    padding-right: 7px;
}

.slider {
	position: relative;
    padding-top: 270px;
    text-align: center;
    color: #ffffff;
}

.slide {
	display: none;
}


.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-top: -10px;
    margin-bottom: 41px;
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
}

.slide-btn {
	margin-top: -12px;
    margin-bottom: 41px;
    padding: 12px 43px;
    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
}

.slides-controls {
    position: absolute;
    bottom: 62px;
    left: 28px;
    z-index: 20;
    font-size: 0;
}

.slides-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;

    vertical-align: top;  

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
    display: block;
}

#btn-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slider-ice1.png");
}

#btn-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/slider-ice2.png");
}

#btn-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slider-ice3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
    background-color: #ffffff;
}

.stock {
	margin-bottom: 40px;
}

.stock-left {
	float: left;
    width: 560px;
    height: 230px;
    margin-left: 27px;
	background: url(../img/stock-raspberry.png) no-repeat 0 0;
	border-radius: 18px;
}

.stock h2 {
    margin-top: 15px;
	margin-bottom: 0px;
    padding-left: 17px;
    padding-right: 27px;
    font-size: 35px;
    line-height: 41px;
}

.stock p {
	padding-bottom: 24px;
	padding-left: 20px;
    padding-right: 25px;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.stock-right {
	float: right;
	width: 560px;
	height: 230px;
	margin-right: 27px;
	background: url(../img/stock-chocolate.png) no-repeat 0 0;
	border-radius: 18px;
}

.btn-partition {
    float: right;
    margin-right: 22px;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 24px;
}

.hit {
	margin-bottom: 33px;
    font-size: 0;
    padding: 0;
}

.hit-item {
	position: relative;
    display: inline-block;
    width: 267px;
    margin-left: 26px;
    margin-right: 0px;
    font-size: 14px;
    text-align: center;
}

.hit-item p {
	text-align: left;
    margin-top: -65px;
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
}

.hit-item .hit-inner {
	font-size: 30px;
	line-height: 45px;
}

.hit-name {
	display: inline-block;
    padding: 0;
    margin-top: -20px;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.hit-item a:hover {
	color: #ffbc9e;
}

.hit-item:last-child {
	margin-right: 0;
}

.hit-item:after {
	position: absolute;
	content: "";
	left: 0;
	top: -3px;
	background: url(../img/icon/sprait.png) no-repeat;
	width: 61px;
    height: 61px;
    background-position: -10px -292px;
    border-radius: 50px;
}

.hit-item img {
    border-radius: 135px;  
}

.info-shop {
	width: 1146px;
    margin-bottom: 40px;
    margin-left: 27px;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    background: url(../img/wafer.jpg);
    border-radius: 15px;
}

.info-shop > p {
	padding-top: 24px;
    padding-left: 19px;
    padding-right: 5px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.info-left {
	position: relative;
	float: left;
	width: 490px;
	margin-right: 33px;
	margin-left: 76px; 
}

.info-right {
	position: relative;
	float: right;
	width: 490px;
	margin-right: 13px;
}

.info-left p,
.info-right p {
	position: relative;
}

.item-1:before {
    position: absolute;
    content: "";
    background: url(../img/icon/sprait.png);
    left: -56px;
    top: -14px;
    width: 49px;
    height: 49px;
    background-position: -10px -373px;
}

.item-2:before {
	position: absolute;
    content: "";
    background: url(../img/icon/sprait.png);
    left: -56px;
    top: -14px;
    width: 49px;
    height: 49px;
    background-position: -10px -442px;
}

.item-3:before {
	position: absolute;
    content: "";
    background: url(../img/icon/sprait.png);
    left: -58px;
    top: -13px;
    width: 48px;
    height: 49px;
    background-position: -10px -190px;
}

.item-4:before {
	position: absolute;
    content: "";
    background: url(../img/icon/sprait.png);
    left: -58px;
    top: -14px;
    width: 48px;
    height: 49px;
    background-position: -10px -731px;
}

.item-1, 
.item-3 {
    margin-top: -1px;
    margin-bottom: 25px;
    padding-right: 5px;
}

.item-2, 
.item-4 {
    margin-bottom: 24px;
    padding-right: 8px
}

.news {
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.news-fresh {
	width: 540px;
    height: 220px;
    float: left;
    margin-right: 26px;
    margin-left: 27px;
    padding-left: 19px;
    text-align: left;
    background: url(../img/strawberry-von.png) no-repeat;
    border-radius: 15px;
}

.news-fresh p {
	padding-right: 255px;
    padding-top: 7px;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
}

.news-fresh a {
	font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #323232;
}

.news-fresh a:hover {
	color: #e84d37;
}

.news-spread {
	width: 560px;
    height: 220px;
    float: right;
    margin-right: 28px;
    background: url(../img/substrate.png) no-repeat;
    border-radius: 15px;
}

.news-spread p {
	padding-left: 26px;
	padding-right: 26px;
	padding-top: 18px;
	padding-bottom: 21px;
	font-size: 16px;
	line-height: 22px;
    color: #5a5a5a;
}

.spread-form {
	padding-left: 26px;
	padding-bottom: 20px;
	vertical-align: top;
}

.spread-form input {
	width: 353px;
    height: 40px;
    margin-right: 8px;
    padding-left: 14px;
    font-size: 16px;
    line-height: 24px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #d3d3d2;
}

.index-content {
	position: relative;
}

.address-content {
	position: absolute;
	width: 302px;
	padding-top: 28px;
	right: 27px;
	top: 62px;
	background: #fefdfc;
	color: #323232;
	border-radius: 10px;
}

.content-item {
	margin-bottom: 19px; 
}

.content-item span {
	padding-left: 24px;
	padding-right: 27px;
	font-size: 18px;
	font-weight: bold;
}

.content-item p {
	margin: 0;
    margin-bottom: 5px;
    padding-left: 25px;
    padding-right: 15px;
    font-size: 14px;
    line-height: 20px;
}

.address-content a {
	margin-top: 7px;
    margin-bottom: 30px;
    margin-left: 24px;
    margin-right: 26px;
    padding-top: 9px;
    padding-bottom: 12px;
    padding-left: 28px;
    padding-right: 27px;
}
/*catalog*/
.breadcrumbs li {
	display: inline-block;
}

.breadcrumbs a {
	text-decoration: none;
	color: #ebefed;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs span{
    padding-left: 8px;
    padding-right: 8px;
}

.breadcrumbs a:hover {
	color: #ffbc9e;
}

.filter {
	position: relative;
	margin-bottom: 34px;
	font-size: 0;
}

.filter h2 {
	padding-left: 37px;
}

.filter-item {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

.filter-range {
	width: 220px;
}

.filter-item legend {
	margin-bottom: 5px;
	padding: 0;
    padding-left: 22px;  
}

.product-groups-item {
	width: 194px;
	height: 36px;
	padding-left: 20px;
	border: none;
	outline: none;
	border-radius: 50px;
    background: #a9bab0;
    color: #ffffff;
}

.product-groups-item:hover {
	color: #323232;
	background: #ffffff;
} 


.price-controls {
	width: 250px;
}

.price-controls legend,
.price-controls label {
    display: inline-block;
    width: 80px;
	padding: 0;
	margin-right: -30px;
    font-size: 14px;
    line-height: 16px;
}

.price-controls span {
	padding-right: 5px;
	padding-left: 10px;
}

.price-controls input {
	width: 60px;
	margin: 0;
	padding: 0;
	border: none;
    text-align: center;
    outline: none;
    color: #ffffff;
    background-color: #849d8f;    
}

.price-controls legend {
	padding-left: 15px;
}

.range-controls {
	position: relative;
    height: 20px;
    margin-top: 3px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
    background: #abbcb2;
}

.range-controls .line-controls {
	height: 4px;
	background: #d1dad3;
}

.range-controls .line {
	width: 70%;
	height: 4px;
	background: #f8f7f4;
}

.range-controls .dot {
	position: absolute;
    top: 8px;
    left: 0px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: #f8f7f4;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #a2b0a7;
}

.range-controls .min-dot {
    left: 40px;
}

.range-controls .max-dot {
    left: 130px;
}

.filter-fat {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 20px;
	background: #a8b9b0;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
    position: relative;
    display: inline-block;
    margin: 0;
    line-height: 18px;
    padding-left: 35px;
    cursor: pointer;
}

input[type="radio"] + label::before {
	position: absolute;
	content: "";
	top: -1px;
	left: 0;
	width: 20px;
	height: 20px;
	border-radius: 15px;
	border: 1px solid #ffffff;
}

input[type="radio"]:checked + label::after {
	position: absolute;
	content: "";
	width: 10px;
    height: 10px;
    left: 6px;
    top: 5px;
    border-radius: 10px;
    background-color: #ffffff; 
}

.filter-filling {
    padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 17px;
	padding-right: 20px;
	border-radius: 20px;
	background: #a8b9b0;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    margin: 0;
    margin-right: 21px;
    line-height: 18px;
    padding-left: 27px;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
    position: absolute;
    content: ""; 
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

input[type="checkbox"]:checked + label::after {
	position: absolute;
	content: "";
	top: 4px;
	left: 3px;
	border-radius: 5px;
	background: url(../img/icon/sprait.png);
	width: 12px;
    height: 10px;
    background-position: -10px -130px;
}

.filter-item label:hover::before {
	border: 2px solid #ffffff;
}

/*
.filter-item label.disabled,
.filter-item label:disabled::before {
	border: 1px solid #b2c1b7;
}
*/
.btn-filter {
	position: absolute;
	right: 250px;
	bottom: 13px;
	display: block;
	width: 179px;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: auto;
	padding-right: auto;
	outline: none;
	text-shadow: none;
	box-shadow: none;
	border: 2px solid #fbfcfb;
	background: #9cb0a4;
}

.btn-filter:hover {
	color: #353535;
    background: #fbfcfb;
    box-shadow: none;
}

.btn-filter:active {
    background: #eaeaea;
    box-shadow: inset 0 2px 2px rgba(166, 167, 166, 1);
}

.catalog {
	margin-bottom: 25px;
	font-size: 0;
}

.catalog-item {
	position: relative;
	display: inline-block;
	width: 293px;
	margin-right: 5px;
	margin-bottom: 40px;
	vertical-align: top;
	font-size: 16px;
	line-height: 22px;
	
}

.catalog-item:nth-child(4n) {
	margin-right: 0;
}

.catalog-item:hover {
	border-radius: 5px;
    background: #a7b8ad;
}

.item-description {
	text-align: center;
	padding-top: 5px;
	padding-left: 13px;
	padding-right: 25px;
}

.item-description img {
    border-radius: 140px;
}

.prix {
	position: absolute;
	left: 0;
	top: 210px;
	font-size: 45px;
	line-height: 45px;
}

.text-item {
	padding: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.item-btn {
    margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 25px;
	display: none;
}

.btn.btn-description {
	width: 200px;
	text-align: center;
}

.catalog-item:hover .item-btn {
    display: block;
}

.paginator {
	display: block;
	text-align: right;
	background-color: #849d8f;
}

.paginator a {
	display: inline-block;
	min-width: 10px;
	height: 20px;
	margin-right: 7px;
	padding: 5px 10px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
    text-decoration: none;
	color: #ffffff;
	border-radius: 50%;
}

.paginator .active {
    color: #323232; 
    background: #ffffff; 
    cursor: default;
    pointer-events: none;
}

.paginator .link:hover {
	background: rgba(255, 255, 255, 0.2);
}

.prev {
	background: url(../img/icon/sprait.png) no-repeat;
    width: 9px;
    height: 14px;
    background-position: -10px -690px;
}

.next {
    background: url(../img/icon/sprait.png) no-repeat;
    margin-left: 5px;
    width: 9px;
    height: 14px;
    background-position: -10px -655px;
}

/*footer*/
.main-footer {
	margin-top: -4px;
}

.footer-social {
	width: 267px;
	float: left;
	margin-right: 127px;
	margin-left: 30px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 35px;
    padding-bottom: 35px;
	
}

.social-btn {
	display: inline-block;
	width: 31px;
	height: 31px;
	margin-right: 9px;
	text-decoration: none;
	border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.social-btn svg { 
    width: 100%; 
    height:100%
}

.cls-1:hover {
    fill: #fff;
    fill-rule: evenodd;
    opacity: 1;
}

.cls-1:active {
	fill: #e9e9e9;
    fill-rule: evenodd;
    opacity: 1;
}

.footer-data {
	position: relative;
	float: left;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 0;

}

.inner {
	display: inline-block;
    margin-left: 25px;
    margin-right: 6px;
    margin-top: 6px;
    vertical-align: top;
}

.content-inner a {
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
    text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.content-inner a:hover {
	color: #ffbc9e;
}

.link-item {
	font-weight: bold;
}

.footer-data:before {
	position: absolute;
    content: "";
    left: 3px;
    top: 35px;
    background: url(../img/icon/sprait.png);
    width: 15px;
    height: 13px;
    background-position: -10px -259px;
}

.footer-copyright {
    width: 267px;
    float: right;
    margin-top: 17px;
    margin-right: -52px;
}

.logo-copyright {
	display: block;
	margin-top: 0;
	margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}

.text-copyright {
	margin-top: 0;
	font-size: 12px;
	line-height: 18px;
	text-align: left;
}

.text-copyright a {
	text-decoration: none;
	color: #ffffff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.text-copyright a:hover {
	color: #ffbc9e;
}

/*popup*/

.popup {
    position: absolute;
    bottom: -1200px;
    left: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background: url("../img/popup.jpg") no-repeat;
    border-radius: 5px;
}

.popup input[type="text"] {
	width: 267px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	font-size: 16px;
	line-height: 24px;
	font-family: inherit;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
}










/*
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-basket {
    width: 21px;
    height: 20px;
    background-position: -10px -10px;
}

.sprite-basket-black {
    width: 21px;
    height: 20px;
    background-position: -10px -50px;
}

.sprite-basket-filled {
    width: 21px;
    height: 20px;
    background-position: -10px -90px;
}

.sprite-check-mark {
    width: 12px;
    height: 10px;
    background-position: -10px -130px;
}

.sprite-check-no-active {
    width: 12px;
    height: 10px;
    background-position: -10px -160px;
}

.sprite-cow {
    width: 48px;
    height: 49px;
    background-position: -10px -190px;
}

.sprite-heart {
    width: 15px;
    height: 13px;
    background-position: -10px -259px;
}

.sprite-hit {
    width: 61px;
    height: 61px;
    background-position: -10px -292px;
}

.sprite-ice-cream {
    width: 49px;
    height: 49px;
    background-position: -10px -373px;
}

.sprite-leaflet {
    width: 49px;
    height: 49px;
    background-position: -10px -442px;
}

.sprite-login {
    width: 21px;
    height: 19px;
    background-position: -10px -511px;
}

.sprite-login-black {
    width: 21px;
    height: 19px;
    background-position: -10px -550px;
}

.sprite-loupe {
    width: 17px;
    height: 17px;
    background-position: -10px -589px;
}

.sprite-loupe-black {
    width: 17px;
    height: 17px;
    background-position: -10px -626px;
}

.sprite-next {
    width: 9px;
    height: 14px;
    background-position: -10px -663px;
}

.sprite-prev {
    width: 9px;
    height: 14px;
    background-position: -10px -697px;
}

.sprite-thermometer {
    width: 48px;
    height: 49px;
    background-position: -10px -731px;
}


*/